/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }

/**
 * Google Fonts API
 * copied from: http://fonts.googleapis.com/css?family=Droid+Serif:b,r|Droid+Sans:b,bi,i,r
 **/
/* Droid Sans (style: italic, weight: 700) is not available */
/* However, style: normal, weight: normal is available */
/* However, style: normal, weight: bold is available */
/* Droid Sans (style: italic, weight: 400) is not available */
/* However, style: normal, weight: normal is available */
/* However, style: normal, weight: bold is available */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('http://themes.googleusercontent.com/font?kit=QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/font?kit=s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/font?kit=0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk') format('woff');
}

/**
 * Basic
 **/

#wrapper {
    color: #011f2f;
    font-family: 'Droid Sans', 'Bitstream Vera Sans', sans-serif;
    min-width: 600px;
}

/**
 * Front
 **/

#logo {
    box-shadow: 0px 0px 4px #888;
    display: block;
    margin: 0 auto 20px;
}

#welcome {
    border: 2px dashed #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #888 inset;
    line-height: 20px;
    margin: 10% auto 0;
    padding: 20px 20px;
    position: relative;
    width: 200px;
    word-spacing: 2px;
}

a.expandarrow {
    color: #011f2f;
    text-decoration: none;
}

.expandarrow {
    bottom: 8px;
    font-size: 1.5em;
    position: absolute;
    right: 8px;
}

/**
 * Blog stuff
 **/

#blog {
    bottom: 0;
    left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    position: absolute;
    width: 90%;
}

#blogtab a {
    color: #011f2f;
    text-decoration: none;
}

#blogtab {
    background: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 3em;
    height: 60px;
    letter-spacing: 2px;
    padding: 20px 0;
    text-align: center;
    text-shadow: 0 0 2px #888;
}

#content {
    background: #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

/**
 * Sidebar stuff
 **/

#sidebar {
    top: 20%;
    position: fixed;
    right: 0;
}

.sientry {
    background: #00425a;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: -2px 2px 2px #888;
    margin-bottom: 20px;
    padding: 9px;
}

#sidebar div.sientry:last-child {
    margin-bottom: 0;
}

.sientry img {
    display: block;
    height: 32px;
    width: 32px;
}
