/**
 * WP-Syntax support
 *
 * Based on the original style sheet from the WP-Syntax plugin
 **/
.wp_syntax {
    background-color: #f9f9f9 !important;
    border: 1px solid silver !important;
    color: #100 !important;
    margin: 0 0 1.5em 0 !important;
    overflow: auto !important;
}

/* IE FIX */
.wp_syntax {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 15 : 0) !important;
    width: 100% !important;
}

.wp_syntax table {
    border-collapse: collapse !important;
}

.wp_syntax div, .wp_syntax td {
    border: 0;
    margin: 0 !important;
    padding: 2px 4px !important;
    vertical-align: top !important;
}

.wp_syntax .line_numbers {
    background-color: #def !important;
    color: gray !important;
    overflow: visible !important;
    text-align: right !important;
}

/* potential overrides for other styles */
.wp_syntax pre {
    background: transparent !important;
    clear: none !important;
    float: none !important;
    font-size: 12px !important;
    line-height: 1.333 !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    white-space: pre !important;
    width: auto !important;
}
